body {
    background-color: #f4f4f9;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: #0078d7;
    margin-top: 10px;
}

p {
    font-size: 12px;
    text-align: center;
    margin: 20px auto 20px auto;
    max-width: 700px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 10px;
    padding: 10px 10px;
    color: #0078d7;
    border: 2px solid #0078d7;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #0078d7;
    color: #fff;
}

img {
    display: block;
    max-width: 500px;
    margin: auto auto;
}